<div class="section">
    <div class="container sale">
        <h2 class="sale-title">Sale</h2>

        <div>

            <ul class="sale-img-list">
                <li class="sale-img-items"><img src="" alt=""></li>
                <li class="sale-img-items"><img src="" alt=""></li>
                <li class="sale-img-items"><img src="" alt=""></li>
                <li class="sale-img-items"><img src="" alt=""></li>
            </ul>
            <div class="sale-main-img"><img src="" alt=""></div>
            <div>
                <h3 class="sale-block">MARQ® Commander (Gen 2) - Carbon Edition
                    <span>Product tag: 706587</span>
                </h3>
                <span class="sale-curent-price">€1500</span>
                <span class="sale-previous-price">€3000</span>
                <p class="sale-discription">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
                    adventurers that takes
                    materials and features to the next level. The body of the watch is made of very durable Fused Carbon
                    Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by
                    buttons that can be used in any conditions.</p>
                <il class="sale-list">
                    <li class="sale-items">Fused carbon fiber</li>
                    <li class="sale-items">Grade-5 Titanuim</li>
                    <li class="sale-items">Athlete</li>
                    <li class="sale-items">Golfer</li>
                    <li class="sale-items">Commander</li>
                    <li class="sale-items">Adventurer</li>
                </il>
            </div>

        </div>

    </div>
</div>