<section class="section" id="contact">
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="contact-div-common">
      <div class="contact-div-forma">
        <p class="contact-p">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <forma>
          <label class="contact-label" for="contact-name"></label>
          <input
            class="contact-input"
            type="text"
            name="contact-name"
            id="contact-name"
            placeholder="Name"
            minlength="2"
            pattern="[a-zA-Z]+\s[a-zA-Z]*"
            title="Name must be two words separated by space"
            required
          />
          <label class="contact-label" for="contact-email"></label>
          <input
            class="contact-input"
            type="email"
            name="contact-email"
            id="contact-email"
            placeholder="Email"
            required
          />
          <label class="contact-label" for="contact-tel"></label>
          <input
            class="contact-input"
            type="tel"
            name="contact-tel"
            id="contact-tel"
            placeholder="+380"
            required
          />
          <label class="contact-label" for="contacts-comment"></label>
          <textarea
            class="contact-textarea"
            name="contact-comment"
            id="user-comment"
            rows="3"
            placeholder="Comment"
          ></textarea>
          <button class="contact-btn" type="submit" aria-label="send">
            Send
          </button>
        </forma>
      </div>
      <div class="contact-div-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/contact/contact-desk@1x.png 1x,
              ./img/contact/contact-desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/contact/contact-tab@1x.png 1x,
              ./img/contact/contact-tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/contact/contact-mob@1x.png 1x,
              ./img/contact/contact-mob@2x.png 2x
            "
          />

          <img
            src="./img/contact/contact-mob@1x.png"
            alt="contact us image"
            class="contact-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
